body {
    background: #fff;
}

a {
    color: #048e11
}

.fade {
    background:#fff;
}

.logo {
    background: #0d990d;
}
.kon {
    background: #fff;
	color: #048e11;
}
.kon .phn {
    color: #048e11;
	border-right: 1px solid #777;
}
.ca {
    background: #ddd;
}
.aksen .ca {
    background: #048e11;
	box-shadow: 0 0 0 transparent;
}
.spo {
    background: #ddd;
}
.aksen .spo {
    background: #048e11;
	color: #fff;
}
.ca:after {
    border-left: 6px solid #ddd;
}
.aksen .ca:after {
    border-left: 6px solid #048e11;
}
.men:before,
.kon:before {
    border-top: 120px solid #0d990d;
}
.men .toplist {
    color: #fff;
}
.ps .fa {
    border: 2px solid #8c0;
    color: #8c0;
}
.aksen .ps .fa {
    border: 2px solid #0d990d;
	background: #0d990d;
    color: #fff;
}
.onhour {
    background: #eee;
	box-shadow: 0 0 5px #667;
    color: #667;
}

.onhour:before {
    border-bottom: 10px solid #88cc00;
}
.tops {
    background: #88cc00;
}
.tops {
    color: #fff;
}

.fri {
    color: #88cc00;
}

.sun {
    color: #f90;
}
.sosmed {
    background: #eee;
	box-shadow: 0 0 5px #667;
    color: #667;
}

.sosmed:before {
    border-bottom: 10px solid #88cc00;
}

.sosmed .fa {
    color: #fff;
}

.sosmed .fa-twitter {
    background: #3bf;
}

.sosmed .fa-facebook {
    background: #036;
}

.sosmed .fa-instagram {
    background: #f4a;
}

.sosmed .fa-google-plus {
    background: #f20;
}

.sosmed .fa-youtube {
    background: #ce0005;
}
.madticker {
    background: rgba(0, 0, 0, 0.6);
}
.madticker #infotit {
    background: #fff;
    color: #0d990d;
}

.madticker #infotit:after {
    border-bottom: 40px solid #fff;
}
ul.newstickers li {
    color: #ddd;
}
.insel {
    background: #fff;
}
.ttsearch {
    background: #0d990d;
}
.breadcrumbs {
    color: #777;
}
.breadcrumbs a {
    color: #444;
}
.search_form button {
    background: #fff;
}

.breadcrumbs {
    background: #fff;
}
.nav-weesata {
    background: rgba(0, 0, 0, 0.6);
    border-top: 5px solid #8c0;
}

.nav .dd li span {
    background: #8c3;
	color: #fff;
}

.nav .dd li span:after {
    border-left: 6px solid #8c3;
}
.nav .dd li.menu-item-has-children:after {
    border-top: 4px solid #fff;
}

.aksen .nav .dd li.menu-item-has-children:after {
    border-top: 4px solid #88cc00;
}

.nav .dd li:hover:after {
    border-top: 0px solid #88cc00;
}

.nav .dd li.menu-item-has-children:hover:after {
    border-bottom: 10px solid #88cc00;
}

.nav .dd li a {
    color: #fff;
}

.aksen .nav .dd li a {
    color: #0d990d;
}

.nav .dd li ul li {
    background: #eee;
}
.nav .dd li ul li.menu-item-has-children:after {
    border-top: 6px solid #88cc00;
}

.nav .dd li ul li:first-child {
    background: #88cc00;
}
.nav .dd li ul li ul {
    background: #f7f7f7;
}

.nav .dd li ul li ul.sub-menu:after {
    border-left: 6px solid #88cc00;
}
.nav .dd li ul li ul li ul,
.nav .dd li ul li:hover ul li ul {
    background: #fff;
}

.weefirst {
    background: #fff;
}
.pack-img .dets {
    background: rgba(1, 140, 20, 0.8);
    color: #fff;
}

.dets .ors {
    color: #c8f967 ! important;
}

.order {
    background: #fff;
}

.order a {
    color: #048e11;
}
.p-day {
    border-bottom: 2px dashed rgba(230, 230, 230, 0.6);
    color: rgba(230, 230, 230, 0.9);
}

.p-span {
    background: #8c0;
	color: #fff;
}

h3.toptitle {
    color: #fff;
}

.weesecond {
    background: #0d990d;
}

.weesecond:before {
    border-top: 60px solid #fff;
}
.weethird {
    background-color: #fff;
}

.weethird:before {
    border-top: 60px solid #0d990d;
}

.we-23 {
    color: #fff;
}

.weelay {
    background: rgba(0, 0, 0, 0.85);
}
.prom {
color: #f0ca30;
}

.prom span {
    color: #fff
}

.butn {
    background: #53ba15;
	color: #fff;
}

.co-onhour {
    border-bottom: 2px solid #53ba15;
}

.co-bot {
    color: #fff;
}

.co-bot .onh {
    background: #53ba15;
}
.prom:after {
    background: #8c0;
}

.onh:before {
    border-top: 36px solid #53ba15;
}
.jad td {
    color: #ccc
}

.wecontent .jad td {
    color: #555;
}
.jlime {
    color: #53ba15;
}

.jlef {
    color: #ccc;
}

.jorange {
    color: #f90;
}
.weefourth {
    background: #eee;
}
.ttt {
    background: #048e11;
    color: #fff;
}
.weesche {
    background: #111;
}

.schelay {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
}

.schelay .guide img {
    border: 8px solid #ccc;
}

.td h4 {
    color: #8c0;
}
#clockz strong {
    color: #8c0;
}

.cek {
    background: #f0ca30;
}

.cek a {
    color: #048e11;
}

.news {
    color: #fff;
}

.new-news {
    border-top: 2px dashed #ccc;
    color: #ddd;
}

.aglay {
    background: rgba(0, 0, 0, 0.7);
}

.news {
    background: rgba(0, 0, 0, 0.7);
}
.listz h4 a {
    color: #fff;
}

.listz span {
    color: #8c0;
}

.newslay {
    background: rgba(0, 0, 0, 0.7);
}

.weetestimo {
    background: #eee;
}

.psay .star {
    color: #fc0;
}

.psay .star em {
    color: #8c0;
}

.psay .star em span {
    color: #fff;
}

.psay .spans {
    color: #fff;
}

.package {
    color: #fff !important;
}

.wecontent {
    background: #fff;
}

.showprice .butn {
    background: #88cc00;
    color: #fff;
}

.ontt {
    background: #048e11;
	color: #fff;
}

.showprice .priceft {
    color: #fff;
}

.showprice .diskon {
    color: #8c0;
}

.showprice del {
    color: #ccc;
}

.drprice {
    background: #048e11;
}

.drin {
    color: #fff;
}

.drin h2 {
    background: #222;
    color: #fff;
}


.dlprice {
    background: #048e11;
}

.dlin {
    color: #fff;
}

.dlin h2 {
    background: #222;
    color: #fff;
}

.price td {
    color: #fff;
}

.price .gan {
    background: #068f14;
}

.price strong {
    color: #d6f697;
}

.ketc ,
.vidc ,
.pric ,
.komc {
    color: #777;
}

.iti, .ket, .vid {
    background: #222;
    color: #fff;
}
.pri {
    background: #048e11;
    color: #fff;
}

.kom {
    background: #222;
    color: #fff;
}

.bag {
    background: #222;
    color: #fff;
}

.ttin {
    color: #fff;
}

.notez {
    color: #fff;
}

.outline {
    color: #777;
}

.nday {
    background: #048e11;
    color: #fff;
}

.nday:after {
    border-top: 10px solid #048e11;
}

.odtt , .pactive{
    background: #048e11 ! important;
    color: #fff;
}

.isform , .dactive{
    background: #222;
}
.dvin {
    background: #f7f7f7;
}

.dvin input[type=text] {
    background: #f7f7f7;
}

.odbut {
    background: #048e11;
    color: #fff;
}

.relsp {
    color: #555;
}

.relsp a {
    color: #777;
}

.relsp strong {
    color: #88cc00;
}

.relsp del {
    color: #aaa;
}
.bltt {
    background: #333;
    color: #fff;
}
.days,
.hours,
.minutes {
    background: #777;
    color: #fff;
}

.seconds {
    background: rgba(250, 250, 250, 0.9);
    color: #8c0;
}


.pagination a,
.pagination .disabled {
    background: #0d990d;
    color: #fff;
}

.pagination a:hover,
.pagination a.active {
    background: #222;
    color: #fff;
}

.blog-content {
    background: #f7f7f7;
}
.imglay {
    background: rgba(0, 150, 20, 0.8);
    color: #eee;
}

.imglay h1 {
    color: #fff;
}

.img400 h2 {
    color: #fff;
}
.img400 .met {
    background: rgba(0, 0, 0, 0.4);
    color: #eee;
}

.img400 .met a {
    color: #ddd;
}

.img400 .tbt {
    color: #fff;
    background: #88cc00;
}
.tbt .dtms {
    background: #222;
}
.pguide {
    background: rgba(0, 150, 10, 0.8);
    color: #fff;
}
.lst {
border-bottom: 1px dashed #222 ! important;
}
.lst a {
    color: #fff;
}
.rpac {
    background: #048e11;
}

.rpac .ttr {
    background: #222;
	color: #fff;
}

.lst .relpri strong {
    color: #baec57;
}

.lst .relpri del {
    color: #fff;
}

.relativez h1 {
    color: #555;
}

.blog-content h1.vvid {
    color: #444;
}

.wvid {
    border-right: 2px solid #88cc00;
}
.wimg h2 a,
.nimg h2 a {
    color: #048e11;
}

.post-datez {
    color: #88cc00;
}

.post-mon {
    color: #665;
}

.phd {
    color: #ddd;
    background: #444;
}

.we-meta h1 {
    color: #048e11;
}

.we-meta h1 span {
    color: #555;
}
.wimg {
    background: #fff;
    color: #048e11
}

.wimg h2 {
    color: #048e11;
}

.nimg {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
}
.lit {
    color: #555;
}
.catz a {
    background: #8c3;
    color: #fff;
}

.bcbot .more {
    color: #fff;
    background: #222;
}

.bcbot .more:after {
    border-left: 10px solid #222;
}

.ltsm {
    background: #048e11;
    color: #ddd;
}

.ltsm .star {
    color: #fc0;
}

.ltsm {
    color: #ddd;
}

.ltsm .tap {
    border: 10px solid #ddd;
}

.wgt em {
    color: #8c0;
}

.wgt span {
    color: #ddd;
}

.down td {
    background: #048e11;
    color: #fff;
}

.down td.ctr {
    background: #048e11;
    color: #fff;
}

.down td a {
    color: #fff;
}

.countcoms {
    color: #555;
}

#submit {
    color: #fff;
    background: #88cc00;
}
#sidebar .search-post fieldset {
    background: #048e11;
}

#sidebar .search-post input {
    background: #048e11;
    color: #fff;
}

#sidebar .search-post button {
    color: #048e11;
    background: #fff;
}
.widget {
    background: #eee;
}
.widget a, .widget-small a {
    color: #048e11 ! important;
}
.widget p, .textwidget {
    color: #777 ! important;
}

.widget.widget_rss li, 
.widget.widget_meta li, 
.widget.widget_nav_menu li, 
.widget.widget_recent_entries li, 
.widget.widget_pages li, 
.widget.widget_archive li, 
.widget.widget_categories li {
    border-bottom: 1px dashed #048e11 ! important;
}



.widget h3,
.widget-small h3,
.widget h3 a,
.widget-small h3 a {
    background: #222;
    color: #fff;
}
.widget .atime a {
    color: #fff !important;
}

.widget .weesid {
    background: #eee;
}
.widget .afti {
    background: #88cc00;
}
.widget .afti a {
    color: #fff ! important;
}

.widget .calendar_wrap {
    background: #f7f7f7;
}

.widget .calendar_wrap table {
    color: #777;
    background: #f7f7f7
}
.widget .calendar_wrap td a {
    color: #88cc00;
}
.widget .dapro {
    background: #048e11;
}

.widget .prs {
    border-left: 1px solid #319c10 ! important;
    border-bottom: 1px solid #319c10 ! important;
	color: #fff;
}

.widget .dapro .prs:after {
    background: #048e11;
    color: #fff;
}
.widget .dapro .fa {
    color: #a2cc4e;
}
.widget .topjd {
    color: #fff;
}
.widget .jadw {
    color: #fff;
    background: #222;
}

.widget .tagcloud a {
    border: 1px solid #048e11 ! important;
	color: #048e11 ! important;
}

.widget .weesid {
    border-bottom: 1px solid #fff ! important;
}

.footbar {
    background: #048e11
}
.foot-inn .widget {
    background: #048e11;
	color: #fff;
}

.foot-inn .widget .weesid {
    background: #048e11;
	padding: 15px 0 ! important;
}
.foot-inn .widget .sitti a {
    color: #fff ! important;
}
.foot-inn .widget .afti {
    background: #88cc00;
}
.foot-inn .widget .afti a {
	color: #fff ! important;
}

.foot-inn .widget .tagcloud {
    padding: 15px 0 ! important;
}

.foot-inn .widget {
    padding: 15px 0 ! important;
}
.foot-inn .widget ul,
.foot-inn .widget-small ol {
    margin: 15px 0 ! important
}

.foot-inn .widget h3,
.foot-inn .widget-small h3,
.foot-inn .widget h3 a,
.foot-inn .widget-small h3 a {
    background: #048e11;
    color: #fff;
	padding: 0 ! important;
}
.foot-inn .search-post fieldset {
    background: #fff;
}

.foot-inn .search-post input {
    background: #fff;
    color: #048e11;
}
.foot-inn .search-post button {
    color: #fff;
    background: #048e11;
}

.foot-inn .widget a,
.foot-inn .widget-small a {
    color: #fff ! important;
}
.foot-inn .widget .atime a {
    color: #fff ! important;
}
.foot-inn .widget.widget_rss li, 
.foot-inn .widget.widget_meta li, 
.foot-inn .widget.widget_nav_menu li, 
.foot-inn .widget.widget_recent_entries li, 
.foot-inn .widget.widget_pages li, 
.foot-inn .widget.widget_archive li, 
.foot-inn .widget.widget_categories li {
    border-bottom: 1px dashed #086333 ;
}

.foot-inn .widget .weesid {
    border-bottom: 1px solid transparent !important;
}
.foot-inn .widget .topjd {
    color: #8c0;
}


.foot-inn .widget .calendar_wrap {
    background: #0d990d;
}

.foot-inn .widget .calendar_wrap table {
    color: #fff;
	background: #0d990d;
}
.foot-inn .widget .calendar_wrap th {
    background: #037616;
	color: #fff ! important;
}
.foot-inn .widget .calendar_wrap td a {
    color: #91e443 !important
}


.foot-inn .widget select {
    background: #555;
    color: #fff;
}

.foot-inn .dapro {
    background: #0d990d;
}

.foot-inn .widget .dapro .prs:after {
    background: #0d990d;
}

.foot-inn .widget .topjd .atime a {
    color: #fff ! important;
}

.foot-inn .widget .prs {
    color: #fff;
	border-left: 1px solid #048e11 ! important;
	border-bottom: 1px solid #048e11 ! important;
}

.foot-inn .widget .dapro .fa {
    color: #a2cc4e;
}
.foot-inn .widget .tagcloud a {
    border: 1px solid #fff !important;
	color: #fff !important;
}

.foot-inn .widget .jadw {
    background: #0d990d;
	color: #fff;
	border-top: 1px solid #048e11;
}
.footer {
    color: #fff;
    background: #111;
}
.footer a {
    color: #8c0;
}






























































