.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}
#repeatable-fieldset-one {width: 100%;}
.half {width: 33.3333%; float: left;}
.halfin {margin: 0 3px 3px 0}
.full {width: 100%}
.addnew {border-top: 1px solid #ddd; padding: 12px 0 0;}
.quart {width: 25%; float: left;}

.onoff {position: relative;}
.onoff p {margin-right: 100px;}

.disc {display: block ! important;}

.ah, .dh {display: none;}
.hd, .dd {color: #00a0d2; text-decoration: underline; cursor: pointer; position: absolute; top: 0; right: 0;}
.photo {max-width: 200px; display: block; height: auto; margin: 10px auto;}

#gallery-metabox-list {clear: both; width: 100%; display: block;}
#gallery-metabox-list li {width: 25%; float: left; position: relative;}
#gallery-metabox-list li img {width: 100%; display: block; height: auto;}
#gallery-metabox-list li div { background: rgba(0,0,0,0.8);  position: absolute; bottom: 0; left: 0; right: 0; padding: 10px 15px; z-index: 10;}
#gallery-metabox-list li a {background: #000; display: none; text-transform: uppercase; font-weight: bold; font-size: 12px; line-height: 24px; height: 24px;}
#gallery-metabox-list li:hover a {display: block;}
#gallery-metabox-list li a.change-image {float: left; color: #fff; text-decoration: none; position: absolute; bottom: 5px; left: 5px; padding: 0px 10px; z-index: 10;}
#gallery-metabox-list li a.remove-image {float: right; color: #fff; text-decoration: none; position: absolute; bottom: 5px; right: 5px; padding: 0px 10px; z-index: 10;}

@media screen and (max-width: 480px) {
.half {width: 100%; float: none;}
.quart {width: 100%; float: none;}
}